* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:roboto, sans-serif;
    width: 100%;
    background-color: #eaeaea;
}

.list-style-none li {
    list-style: none;
    margin-bottom: 10px;
}

.header {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
}

.skyblue {
    background-color: skyblue;
    color: #333;
}

.tombol {
    width: 130px;
    height: 40px;
    background-color: rgb(0, 93, 129);
    display: inline-block;
    color: #eaeaea;
    text-align: center;
    line-height: 40px;
    border-radius: 20px;
    text-decoration: none;
}

.tombol:hover {
    filter: brightness(.8);
    color: #eaeaea;
    text-decoration: none;
    transition: .3s;
}